.main-content {
    padding: 0;
    margin: 0;
}


td {
    position: relative; /* This is needed to contain the absolute positioned child */
    width: auto;
    height: 0rem;
    border: 1px solid rgb(88, 88, 88);

}

.table-container {
    overflow-x: auto;
}


table {
    width: 100%;
    height: 100%;
    table-layout: fixed; /* This makes the columns of equal width */
    margin-left: 0%; 
    margin-top: 2%; 
    border-collapse: collapse; /* This makes the borders between cells collapse into a single line */
    border: 1px solid rgb(88, 88, 88);
    overflow: hidden;
    box-sizing: border-box; /* This ensures that the width includes any padding or border */
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 400ms ease-in-out, filter 400ms ease-in-out;
    cursor: zoom-in;
}

.gallery-image {
    max-width: 90%;
    max-height: 90%;
    filter: blur(9px);
    transition: transform 400ms ease-in-out;
}

.gallery-item:hover {
    transform: scale(1.50);
    filter: blur(0);
}

.gallery-image:hover {
    filter: blur(0);
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    filter: blur(-9px); /* This should be the negative of the blur applied to .gallery-item */
}

.gallery-item:hover .overlay-text {
    display: block;
    display: none;
}







/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.815); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 30%;
    max-width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
    .modal-content {
        width: 100%;
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .gallery {
        width: 100%;
        margin-left: -1%
    }
}

.scrollable-list {
    overflow-y: auto;
}

/* Hide the list by default */
.list-container {
    display: none;
    position: fixed;
    width: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30rem;
    height: 66vh;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    z-index: 1;
}

/* Adjust the size of the images */
.list-container img {
    width: 100%; /* Adjust as needed */
    max-width: 200px; /* Adjust as needed */
    height: auto;
    margin-right: 20px; /* Add some space to the right of the images */
}

.list-container li ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Adjust the size of the list */
.list-container ul {
    width: 100%; /* Adjust as needed */
    margin: 0 auto; /* Center the list */
    list-style-type: none; /* Remove the default list bullets */
    padding: 0; /* Remove the default list padding */
    width: 100%; /* Adjust as needed */
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto; /* Center the list */
    background: #000000; /* Add a background color */
    border-radius: 10px; /* Round the corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a shadow */
}

/* Remove the border from the last item */
.list-container li:last-child {
    border-bottom: none;
}

/* On small screens, hide the table and show the list */
@media (max-width: 868px) {
    .table-container {
        display: none;
    }
    .list-container {
        display: block;
        overflow: auto;
        margin-top: 0;
        height: 76vh;
    }
}