svg {
  width: 80vh;
  height: 80vh;
  perspective: 50px;
}
circle{
  stroke: hsl(298, 100%, 33%);
  stroke-width: 3px;
  fill:none;
}
.equator {
  transform:  rotateZ(-20deg)  rotateX(125deg)
}

.meridian{  
  animation: turn 1s infinite linear;
  transform:  rotateZ(-20deg) rotateX(35deg) rotateY(var(--start))
}
@keyframes turn{
  100% {
    transform:  rotateZ(-20deg) rotateX(35deg) rotateY(var(--end))
  }
}
body {
  background: hsl(200, 10%, 10%);
  display: flex; 
  align-items:center;
  justify-content: center;
  flex-direction: column;
}
.title {
  height: 10vh;
  line-height: 10vh;
  font-size: 8vh;
  padding: 2.5vh;
  margin: 0;
  color:  hsl(278, 100%, 50%);
  font-family: 'Trench';
}