* {
    text-decoration: none;
    color: inherit;
}

body {

    background-color: rgb(19, 19, 19);

}

nav { /* This is the navbar */
    position: absolute;
    top: 0;
    right: 0;
}

.user-menu-icon { /* just the user icon, nothing else */
    color: rgb(255, 255, 255);
    font-size: 40px;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    z-index: 1;
}

.user-menu-icon-logged-in { /* This is the user icon, shown (see js) */
    color: rgb(255, 255, 255);
    background-color: rgba(46, 46, 46, 0.781);
    border-radius: 50px;
    width: 20%;
    height: auto;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    z-index: 1;
}

.user-menu-icon.hidden { /* This is the user icon, hidden (see js) */
    display: none;
}

.user-menu-content { /* This is the dropdown menu, just hidden (see js) */
    display: none;
    overflow: hidden;
    animation-duration: 600ms;
}

.user-menu-content.show { /* This is the dropdown menu, shown, main styles here */
    display:flex;
    justify-content: center;
    align-items: center;
    float: right;
    background-color: rgba(29, 29, 29, 0.925);
    box-shadow: 20px 10px 20px rgba(31, 31, 31, 0.5);
    width: 10rem; 
    height: 10rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
    border-radius: 10px; 
    overflow: hidden;
    
}

.close-user-menu  { /* This is the links inside the user-menu-content */
    color: rgb(255, 255, 255);
    font-size: 40px;
    position: absolute; /* Position relative to .user-menu */
    top: 0;
    right: 0;
    margin-right: 35px;
    margin-top: 20px;
    z-index: 2; 
}

nav ul { /* This is the list inside the user-menu-content*/
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 1;
}

nav ul li a:hover { 

    color: crimson;

}

nav ul li { /* This are the items inside the list inside the user-menu-content*/
    padding: 5px;
    margin-left: 1px;  
}

.list-icon { /* These are the icons for the home links */
    color: rgb(255, 255, 255);
    margin-right: 10px;
}


.top-center { /* This is the top center text */
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 7rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
    color: #ffffff;
}

label {
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    margin-bottom: 10px;
    color: #000000;
}

.submit {
    color: black;
}